
/* Universal styles */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Lato;
}

/* primary styles */
span{
    color:#E55473
}
.feature_title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 120px;
    margin-bottom: 20px;
}
.featured_description{
    color: gray;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    width: 480px;
    margin: auto;
    line-height: 20px;
    margin-bottom:20px ;
    margin-bottom: 70x;
}

/* header sectios styles */
.header_wrapper{
    width: 100%;
    background-color: rgba(250, 196, 205, 0.517);
}
.header_container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 580px;
    padding: 30px 60px 0px 130px;

}
.header_img{
    width:300px;
    height: 550px;

}
.header_content{
   width: 50%;
}
.content_title{
    color: #272727;
    font-family: Lato;
    font-size: 50px;
    font-weight: 800;
    
}
.content_description{
    color: gray;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 15px;
}
.header_btn{
    padding: 10px 15px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-family: Lato;
    font-size: 15px;
    border: 0;
    margin-top: 30px;
    cursor: pointer;
}

/* main section styles start */
/* bonus section start */
.featured_img_container{
    display: flex;
    gap: 10px;
    width: 80%;
    height: 400px;
    margin: auto;
    justify-content: space-around;
    align-items: center;
}
.single_img{
    background: rgba(169, 33, 98, 0.15);
    height: 330px;
    width: 300px;
    margin: auto;
    align-items: center;
    border-radius: 300px 300px 0px 0px;
}
.single2_img{
    background: rgba(60, 243, 243, 0.123);
    height: 330px;
    width: 300px;
    margin: auto;
    align-items: center;
    border-radius: 300px 300px 0px 0px;
}
.single3_img{
    background: rgba(77, 237, 136, 0.353);
    height: 330px;
    width: 300px;
    margin: auto;
    align-items: center;
    border-radius: 300px 300px 0px 0px;
}

.featured_img{
    width: 251px;
    height: 330px;
    margin: auto;
    padding-top: 38px;
    padding-left: 74px;
    padding-right: -23px;
}

.img_title{
    color: #272727;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    text-decoration-line: underline;padding: 13px 37px;
    font-family:arial;

}
.single_img{
    align-items: center;
}
/* bonus section end */

/* service box start */
.services{
    width: 300px;
    text-align: center;
    padding: 5px;
    margin-top: 20px;
    margin: auto;
}
.service_container{
    display: flex;
    width: 80%;
    margin: auto;
    height: 220px;
    border-radius: 8px;
    background: rgba(184, 220, 208, 0.246);
    margin-bottom: 20px;
    margin-top: 90px;
}
.s_title{
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 15px;
    font-weight: 600;
}

/* offer section start */

.flower_img{
    width: 250px;
}
.offer_container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:rgba(244, 110, 155, 0.287);
    width: 100%;
    height: 550px;
    gap: 10px;
    padding: 50px 150px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.offer{
    text-align: center;
    /* padding: 0 10px; */
}
.offer_description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    margin-top: 15px;
}
.discount_title{
    color: #272727;
    font-family: Lato;
    font-size: 30px;
    font-weight: 800;
    line-height: normal;   
}
.discount{
    color: #E55473;
}
/* my created section */
.container_wrepper{
  width: 100%;
  height: 400px;
  margin: auto; 
  background-image:url("./Flower Asset/banner33.jpg") ;
  background-repeat: no-repeat;
  background-size:cover;

}
.delevery_container{
    width: 55%;
    height: 400px;
    display: flex;
    gap: 10px;
    align-items: center;
    margin: auto;
    justify-content: space-around;
    padding-top: 65px;
}
.del_box{
    width: 200px;
    text-align: center;
    background-color: #ffe2e6d5;
    height: 330px;
    padding: 10px;
    padding-top: 30px;
    border-radius: 100px 2px 50px 50px;
    cursor: pointer;
    box-shadow: 2px 1px 6px 2px rgb(174, 163, 148);
}
.del_box1{
    width: 200px;
    text-align: center;
    background-color: rgba(255, 117, 117, 0.373);
    height: 330px;
    padding: 10px;
    padding-top: 30px;
    border-radius: 70px 70px 50px 50px;
    cursor: pointer;
    box-shadow: 2px 1px 6px 2px rgb(174, 163, 148);
}
.del_box2{
    width: 200px;
    text-align: center;
    background-color: rgba(115, 231, 181, 0.537);
    height: 330px;
    padding: 10px;
    padding-top: 30px;
    border-radius: 100px 1px 50px 50px;
    cursor: pointer;
    box-shadow: 2px 1px 6px 2px rgb(174, 163, 148);
}
.icon_title{
    color: #272727;
    font-family: Lato;
    font-size: 20px;
    font-weight: 800;
    /* line-height: normal; */
    margin-top: 4px;
    margin-top: 16px;
}
.icon_des{color: rgba(39, 39, 39, 0.60);text-align: center;font-family: Lato;font-size: 15px;font-weight: 400;line-height: 18px;margin-top: 10px;}
.f_icon{
    width: 100px;
}



/* instagram styles */
.ins_img{
    width: 195px;

}
.insta_container{
    display: flex;
    gap: 10px;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 100px;
}

/* deals container styles */

.deals_container{
    width:80% ;
    background-image: url("./Flower Asset/Rectangle 9.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 100px;

}
.deals{
    text-align: center;
    margin: auto;
    padding-top: 100px;
}
input{
    padding: 10px 200px 10px 0px;
    background-color: white;
    color: #E55473;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    border: 0;
    border-radius: 5px;
    margin-left: 23%;
}

/* footer section styles */
.footer{
    width: 100%;
    background-color: black;
    height: 500px;
}
.footer_container{
    width: 70%;
    margin: auto;
    padding-top: 130px;
}
.shopname{
    color: pink;
    font-family: Lato;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
}
.shop_description{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px; 
    width: 400px;
    margin: auto;
    margin-bottom: 10px;
}

.copy{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-top: 20px;
}